<form [formGroup]="authForm" (ngSubmit)="onSignup()">
    <div class="form-item">
        <input class="form-input" type="text" formControlName="username" name="username" placeholder="Username">
    </div>

    <div class="form-item">
        <input class="form-input" type="password" formControlName="password" name="password" placeholder="Password">
    </div>

 
    <button class="form-button" type="submit">{{modeSignup() ? "signUp": "login"}}</button>
  

</form>



@if (modeSignup()) {
    <p>Have an account, <span (click)="changeMode()">login</span></p>
} @else {
    <p>Don't have an account, <span (click)="changeMode()">signup</span></p>
}