<div class="dropdown">
    <button class="search-button" (click)="onToggle()">New</button>

    @if (isOpen()) {

    <div class="dropdown-menu">

        <form [formGroup]="searchForm" >
            <label for="search">Find a new friend 
                <input type="text" name="search" formControlName="search" class="search" placeholder="search by username">
            </label>
        </form>


        
        @for (friend of friendList(); track friend.userId) {
        <app-friend [showAddFriend]="true" [friend]="friend"></app-friend>
        }


    </div>

    }



</div>