
:host {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--md-sys-color-on-primary);

    gap: 1em;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);;
    /* border:1px solid black; */
    border-radius: 14px;
    padding: 10px;

    pointer-events: auto;
    transition: box-shadow 0.3s;
    cursor: pointer;
}

:host:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);;
}


img {
    width: 2rem;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  }